@font-face {
  font-family: "PF Goudy Initials Pro";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local("PF Goudy Initials Pro"), url("./fonts/pf-goudy-initials.ttf") format("truetype");
}

@font-face {
  font-family: "Evagrande";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local("Evagrande"), url("./fonts/Evagrande-1GeKM.otf") format("openType");
}

/* source-sans-pro-300normal - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src: local("Source Sans Pro Light normal"), local("Source Sans Pro-Lightnormal"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-300.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-300italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 300;
  src: local("Source Sans Pro Light italic"), local("Source Sans Pro-Lightitalic"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-300italic.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-400normal - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local("Source Sans Pro Regular normal"), local("Source Sans Pro-Regularnormal"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-400.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-400.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-400italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src: local("Source Sans Pro Regular italic"), local("Source Sans Pro-Regularitalic"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-400italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-400italic.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-600normal - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold normal"), local("Source Sans Pro-SemiBoldnormal"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-600.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-600italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold italic"), local("Source Sans Pro-SemiBolditalic"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-600italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-600italic.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-700normal - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: local("Source Sans Pro Bold normal"), local("Source Sans Pro-Boldnormal"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-700.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src: local("Source Sans Pro Bold italic"), local("Source Sans Pro-Bolditalic"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-700italic.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-900normal - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: local("Source Sans Pro Black normal"), local("Source Sans Pro-Blacknormal"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-900.woff")
      format("woff"); /* Modern Browsers */
}

/* source-sans-pro-900italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 900;
  src: local("Source Sans Pro Black italic"), local("Source Sans Pro-Blackitalic"),
    url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-source-sans-pro/files/source-sans-pro-900italic.woff")
      format("woff"); /* Modern Browsers */
}

/* playfair-display-sc-latin-400 */
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local("Playfair Display SC Regular"), local("PlayfairDisplaySC-Regular"),
    url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-400.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-400.woff")
      format("woff"); /* Modern Browsers */
}

/* playfair-display-sc-latin-400italic */
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src: local("Playfair Display SC Italic"), local("PlayfairDisplaySC-Italic"),
    url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-400italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-400italic.woff")
      format("woff"); /* Modern Browsers */
}

/* playfair-display-sc-latin-700 */
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: local("Playfair Display SC Bold"), local("PlayfairDisplaySC-Bold"),
    url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-700.woff")
      format("woff"); /* Modern Browsers */
}

/* playfair-display-sc-latin-700italic */
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src: local("Playfair Display SC Bold Italic"), local("PlayfairDisplaySC-BoldItalic"),
    url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-700italic.woff")
      format("woff"); /* Modern Browsers */
}

/* playfair-display-sc-latin-900 */
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: local("Playfair Display SC Black"), local("PlayfairDisplaySC-Black"),
    url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-900.woff")
      format("woff"); /* Modern Browsers */
}

/* playfair-display-sc-latin-900italic */
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-display: block;
  font-weight: 900;
  src: local("Playfair Display SC Black Italic"), local("PlayfairDisplaySC-BlackItalic"),
    url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../node_modules/typeface-playfair-display-sc/files/playfair-display-sc-latin-900italic.woff")
      format("woff"); /* Modern Browsers */
}
